:root {
  --b1: #0077b6;
  --b2: #066375;
  --b3: #90e0ef;
  --b4: #caf0f8;
  --b5: #03045e;
  --b6: #433891;
  --white: #f5f7f6;
  --wave1:#c4e5f7;
  --wave2:#a6d1ea;
  --wave3:#78b3d3;
  --normTransition: all 0.3s ease-in-out;
}
@font-face {
  font-family: font;
  src: url(./assets/fonts/font.ttf);
}
@font-face {
  font-family: font2;
  src: url(./assets/fonts/font2.ttf);
}
body {
  font-family: "font";
}
a {
  text-decoration: none;
}
/* payment */

.firstWave{
  background-color: var(--wave1);
  clip-path: polygon(0% 0%, 93.7% 0%, 59.9% 100%, 0% 100%);
  z-index: -1;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px ;
  animation: firstWaveGo 1s 1 forwards,firstWaveGoing 10s ease-in-out 1.2S infinite forwards;
  opacity: 0;

}
.secondWave{
  background-color: var(--wave2);
  clip-path: polygon(0% 0%, 93.7% 0%, 71.9% 100%, 0% 100%);
  z-index: -2;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px ;
  animation: SecondWaveGo 1s ease .8s 1 forwards,secondWaveGoing 10s 2s ease-in-out infinite forwards;
  opacity: 0;

}
.thirdWave{
  background-color: var(--wave3);
  clip-path: polygon(0% 0%, 93.7% 0%, 76.9% 100%, 0% 100%);
  z-index: -3;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px ;
  animation: thirdWaveGo 1s ease 1.3s 1 forwards,thirdWaveGoing 10s ease-in-out 3.3s infinite forwards;
  opacity: 0;

}

.paymentModule {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--b2);
  border-radius: 16px;
  padding: 20px 30px;
  width: auto;
  box-shadow: 0 0 5px var(--b4);
  margin: 10px;
  transition: var(--normTransition);
  animation: goUpBorder 1s 1 forwards;
  overflow: hidden;
}
.paymentModule:hover {
  transform: scale(1.02);
  transition: var(--normTransition);
  box-shadow: 0 5px 8px gray;
}
.paymentModule > :nth-child(1) {
  width: 15%;
  clip-path: circle(46% at 50% 50%);
}
.paymentModule .modTitle {
  width: 45%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.paymentModule .modTitle :nth-child(2) {
  background-color: var(--b3);
  border-radius: 5px;
  color: var(--b1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  padding: 3px;
  width: 30%;
}
.paymentModule .modCost {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: var(--b1);
  width: 20%;
  gap: 5px;
}
.paymentModule .modCost :nth-child(2) {
  font-size: 0.9rem;
  padding: 3px 0;
  color: var(--b2);
}
.paymentList {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42%;
  padding: 10px;
}

/* features */
.featureGoUp{
  visibility: visible;;
}
.featureTitle {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featuresList {
  text-align: center;
  background-color: var(--white);
  display: flex;
  padding: 2.2% 1.8%;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.featuresList .eachFeature {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--b4);
  border-radius: 12px;
  min-height: 250px;
  margin: 20px;
  position: relative;
  width: auto;
  box-shadow: 0 0 1px var(--b1);
}
.selectedFeature {
  animation: goUpFeature 1s 1 forwards;
}
.unSelectedFeature {
  animation: goDownFeature 0.6s 1 forwards;
}
.featuresList .eachFeature .featureStructure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 30%;
  justify-content: space-between;
  align-items: center;
}

.featuresList .eachFeature .featureStructure .featureDes {
  display: flex;
  flex-direction: column;
}
.featuresList .eachFeature .featureStructure .featureDes div {
  font-size: 0.7rem;
  display: flex;
  text-wrap: nowrap;
  font-family: "font2";
}

.featuresList .eachFeature button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  border: none;
  color: var(--white);
  font-size: 0.9rem;
  width: 85%;
  padding: 3%;
}
/* arrows */
.nextStep {
  position: absolute;
  bottom: 15%;
  right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: black;
  transition: var(--normTransition);
}
.nextStep:hover {
  transform: scale(1.05);
  transition: var(--normTransition);
  color: #3b59d1;
}
.prvStep {
  position: absolute;
  bottom: 15%;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: var(--normTransition);
  color: black;
}
.prvStep:hover {
  transform: scale(1.07);
  transition: var(--normTransition);
  color: #6c37a8;
}
/* features store */
.featureStore {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.featureStore h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureStore .addedFeature {
  background: url(./assets/images/pattern.png);
  background-size: 500%;
  background-color: var(--b6) !important;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  width: 90px;
  margin: 1rem;
  animation: goUpFeature 1s 1 forwards;
  box-shadow: 0 2px 2px var(--b6) !important;
}

@keyframes goUpFeature {
  100% {
    background: url(./assets/images/pattern.png);
    background-size: 250%;
    background-color: var(--b6) !important;
    color: var(--white) !important;
    transform: translate(0, -10%);
    box-shadow: 0 2px 10px rgb(61, 61, 61);
  }
}
@keyframes goDownFeature {
  0% {
    background: url(./assets/images/pattern.png);
    background-size: 250%;
    background-color: var(--b6) !important;
    color: var(--white);
    transform: translate(0, -10%);
    box-shadow: 0 2px 10px rgb(61, 61, 61);
  }
  100% {
    background: none;
    background-color: initial;
    color: initial;
    border: none;
    transform: translate(0, 0);
  }
}
@keyframes goUpBorder {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: var(--b2);
  }
}
@keyframes firstWaveGo {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 28%;
    opacity: 1;
  }
}
@keyframes SecondWaveGo {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 46%;
  }
}
@keyframes thirdWaveGo {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 64%;
    opacity: 1;
  }
}
@keyframes firstWaveGoing {
  0% {
    width: 28%;
    box-shadow: 0 0 0 black;

  }
  50% {
    width: 29%;
    box-shadow: 0 0 15px black;

  }
  100% {
    width: 28%;
    box-shadow: 0 0 0 black;

  }
}
@keyframes secondWaveGoing {
  0% {
    width: 46%;
    box-shadow: 0 0 0 black;

  }
  50% {
    width: 47%;
    box-shadow: 0 0 15px black;

  }
  100% {
    width: 46%;
    box-shadow: 0 0 0 black;

  }
}
@keyframes thirdWaveGoing {
  0% {
    width: 64%;
    box-shadow: 0 0 0 black;

  }
  50% {
    width: 63%;
    box-shadow: 5px 5px 55px black;

  }
  100% {
    width: 64%;
    box-shadow: 0 0 0 black;

  }
}